.contact-button {
  text-decoration: none;
  color: black;
}

.contact-button:hover {
  text-decoration: none;
}

body {
  background-image: url('../img/bg.jpg');
}

.break {
  margin-top: 5%;
}

h2 {
  font-weight: 800;
}
